body {
    margin: 0;
    padding: 0;
    background-color: black;
}
.webapp-main {
    display: flex;
    align-items: center;
    overflow-x: auto;
    white-space: pre-wrap;
    background: url('https://images-assets.nasa.gov/image/GSFC_20171208_Archive_e002039/GSFC_20171208_Archive_e002039~medium.jpg') repeat-x;
    height: 800px;
    width: 800px;
    text-align: center;
    padding-left: 800px;
    /* temporary styling */
    border-style: solid;
    border-color: black;
    border-width: 5px;
    margin-left: 150px;
    margin-top: 125px;
}

/* style for each space item */
.space-content {
    display: flex;
    flex-shrink: 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 1000px;
    width: auto;
    padding-right: 250px;
    gap: 50px;
}

.space-content-title {
    font-size: 20px;
    position: relative;
    top: 120px;
    color: white ;
}
.space-content-description {
    font-size: 15px;
    position: relative;
    top: 140px;
    color: white ;
}

.progress-bar {
    height: 100px;
    width: 1000px;
}

.bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 350px;
    height: 10px;
    width: 10000px;
    background-color: #f1f1f1;
}

#planetSun {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: transparent;
    flex-grow: 0;
    flex-shrink: 0;
}

#planetMercury {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: transparent;
    flex-grow: 0;
    flex-shrink: 0;
}

#planetVenus {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: transparent;
    flex-grow: 0;
    flex-shrink: 0;
}

#planetEarth {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: transparent;
    flex-grow: 0;
    flex-shrink: 0;
}