#mainPage {overflow: hidden;}
body {
    margin: 0;
    padding: 0;
    background-color: black;
}

.webapp-main {
    display: flex;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
    /* white-space: pre-wrap; */
    background: url(/img/webapp-background-v2.png);
    height: 100vh;
    width: 100vh;
    text-align: center;
    padding-left: 50%;
}

#planetSearchBar {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 25%; 
    padding: 10px;
}

/* style for each space item */
.space-content {
    display: flex;
    position: relative;
    flex-shrink: 0;
    justify-content: center;
    align-self: baseline;
    bottom: 15%;
    width: auto;
    padding-right: 250px;
}

.space-content-title {
    font-size: 20px;
    position: relative;
    padding-top: 5%;
    color: white ;
}
.space-content-description {
    font-size: 15px;
    position: relative;
    top: 10%;
    color: white ;
}

.progress-bar {
    position: absolute;
    top: 90%;
    width: 50%;
    left: 25%;
}

.bar {
    height: 3px;
    width: 0%;
    max-width: 100%;
    background-color: #f1f1f1;
}

/* planet base styles */
#planetSun {
    width: 256px;
    height: 256px;
    border-radius: 50%;
    background-image: url(/img/sun-planet.png);
    flex-grow: 0;
    flex-shrink: 0;
}

#planetMercury {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    background-image: url(/img/dwarf-planet-general.png);
    flex-grow: 0;
    flex-shrink: 0;
}

#planetVenus {
    width: 256px;
    height: 256px;
    border-radius: 50%;
    background-image: url(/img/gas-planet-general.png);
    flex-grow: 0;
    flex-shrink: 0;
}

#planetEarth {
    width: 256px;
    height: 256px;
    border-radius: 50%;
    background-image: url(/img/earth_planet.png);
    flex-grow: 0;
    flex-shrink: 0;
}

#planetMoon {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-image: url(/img/rocky-moon-general.png);
    flex-grow: 0;
    flex-shrink: 0;
}

#planetMars {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    background-image: url(/img/dwarf-planet-general.png);
    flex-grow: 0;
    flex-shrink: 0;
}

#planetJupiter {
    width: 256px;
    height: 256px;
    border-radius: 50%;
    background-image: url(/img/gas-planet-general.png);
    flex-grow: 0;
    flex-shrink: 0;
}

#planetIo {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-image: url(/img/rocky-moon-general.png);
    flex-grow: 0;
    flex-shrink: 0;
}

#planetEuropa {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-image: url(/img/ice-moon-general.png);
    flex-grow: 0;
    flex-shrink: 0;
}

#planetGanymede {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-image: url(/img/ice-moon-general.png);
    flex-grow: 0;
    flex-shrink: 0;
}

#planetCallisto {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-image: url(/img/ice-moon-general.png);
    flex-grow: 0;
    flex-shrink: 0;
}

#planetSaturn {
    width: 512px;
    height: 512px;
    border-radius: 50%;
    background-image: url(/img/saturn-planet.png);
    flex-grow: 0;
    flex-shrink: 0;
}

#planetUranus {
    width: 256px;
    height: 256px;
    border-radius: 50%;
    background-image: url(/img/ice-planet-general.png);
    flex-grow: 0;
    flex-shrink: 0;
}

#planetNeptune {
    width: 256px;
    height: 256px;
    border-radius: 50%;
    background-image: url(/img/ice-planet-general.png);
    flex-grow: 0;
    flex-shrink: 0;
}

#planetPluto {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    background-image: url(/img/dwarf-planet-general.png);
    flex-grow: 0;
    flex-shrink: 0;
}

/* Let us be mobile/tablet friendly! */
/* Bootstrap breakpoints */

/* Ultrawide Monitors */
@media (max-width: 2560px) {
    #planetSearchBar {
        width: 20%;
    }
    .progress-bar {
        top: 85%;
    }
}

/* Normal Monitors */
@media (max-width: 1920px) {
    #planetSearchBar {
        width: 25%;
    }
    .progress-bar {
        top: 85%;
    }
}

/* Small Monitors/laptops */
@media (max-width: 1200px) {
    #planetSearchBar {
        width: 30%;
    }
    .progress-bar {
        top: 85%;
    }
}

/* Tablets */
@media (max-width: 992px) {
    #planetSearchBar {
        width: 40%;
    }
    .progress-bar {
        top: 85%;
    }
}

/* Small Tablets/Large Mobiles */
@media (max-width: 768px) {
    #planetSearchBar {
        width: 60%;
    }
    .progress-bar {
        top: 85%;
    }
}

/* Mobiles */
@media (max-width: 576px) {
    #planetSearchBar {
        width: 100%;
    }
    .progress-bar {
        top: 85%;
    }
}

